.App {
  min-height: 100vh;
  color : white;
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.rank {
  margin-right: 8px;
  width: 32px;
  display: inline-block;
}

.compList {
  text-align: left;
  width: fit-content;
  margin: auto;
}

.traits {
  display: inline-block;
}

.comp0 {
  padding: 20px;
  background-color: #f72642;
}

.comp1 {
  padding: 20px;
  background-color: #d37361;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
