.App {
  min-height: 100vh;
  color : white;
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.rank {
  margin-right: 8px;
  width: 32px;
  display: inline-block;
}

.compList {
  text-align: left;
  width: 61.77%;
  margin: auto;
  padding-bottom: 40px;
}

.traits {
  display: inline-block;
  height: 105px;
}

.comp0 {
  padding: 20px;
  display: flex;
  align-items: center;
  background-color: #f72642;
  position: relative;
  cursor: pointer;
}

.comp1 {
  padding: 20px;
  display: flex;
  align-items: center;
  background-color: #d37361;
  position: relative;
  cursor: pointer;
}

.compDetails {
  padding: 8px;
  background-color: #E54D52;
}

.champ {
  display: inline-block;
  margin: 8px;
  height: 80px;
  width: 64px;
  text-align: center;
  font-size: 10px;
}

.champImage {
  width: 64px;
  height: 64px;
}

.traitIcon {
  width: 72px;
}

.trait {
  display: inline-block;
  margin: 8px;
  height: 80px;
}


.traitWinrate {
  float: right;
  position: absolute;
  right: 20px;
  font-size: 32px;
}

.traitImage {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  top: 16px;
}

.traitText {
  font-size: 12px;
  position: relative;
  top: 16px;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.mytooltip {
    display: inline;
    position: relative;
    z-index: 999
}

.mytooltip .tooltip-content {
    position: absolute;
    z-index: 9999;
    width: 384px;
    left: 50%;
    margin: 0 0 20px -192px;
    bottom: calc(42px + 100%);
    text-align: left;
    font-size: 14px;
    line-height: 30px;
    -webkit-box-shadow: -5px -5px 15px rgba(48, 54, 61, 0.2);
    box-shadow: -5px -5px 15px rgba(48, 54, 61, 0.2);
    background: #2b2b2b;
    opacity: 0;
    cursor: default;
    pointer-events: none
}

.mytooltip .tooltip-content::after {
    content: '';
    top: 100%;
    left: 50%;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: #2a3035 transparent transparent;
    border-width: 10px;
    margin-left: -10px
}

.mytooltip .tooltip-item::after {
    content: '';
    position: absolute;
    width: 384px;
    height: 20px;
    bottom: 100%;
    left: 50%;
    pointer-events: none;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.mytooltip:hover .tooltip-item::after {
    pointer-events: auto
}

.mytooltip:hover .tooltip-content {
    pointer-events: auto;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0deg);
    transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0deg)
}

.mytooltip:hover .tooltip-content2 {
    opacity: 1;
    font-size: 18px
}

.mytooltip .tooltip-text {
    font-size: 14px;
    line-height: 24px;
    display: block;
    padding: 1.31em 1.21em 1.21em 0;
    color: #fff
}

.item-image {
  width: 48px;
  height: 48px;
  margin: 8px;
}

.empty-image {
  filter: brightness(0%);
}